<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Default (Automatically Chosen)</string>
		<key>value</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X %d_%d_%d) AppleWebKit/%@ (KHTML, like Gecko) %@ Version/%@ Safari/%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Safari 8 — Mac</string>
		<key>value</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/600.5.17 (KHTML, like Gecko) Version/8.0.5 Safari/600.5.17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Safari 8 — iPhone</string>
		<key>value</key>
		<string>Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Safari 8 — iPad</string>
		<key>value</key>
		<string>Mozilla/5.0 (iPad; CPU iPad OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Google Chrome 43 — Mac</string>
		<key>value</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.45 Safari/537.36</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Firefox 37 — Mac</string>
		<key>value</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:37.0) Gecko/20100101 Firefox/37.0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Internet Explorer 11</string>
		<key>value</key>
		<string>Mozilla/5.0 (compatible, MSIE 11, Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko</string>
	</dict>
</array>
</plist>
